body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #000000;
}

.listing-form-container {
  width: 50%;
  margin: 0 auto;
}

.listing-form-container h1 {
  padding-top: 20px;
}

.city {
  position : absolute;
  bottom: 0;
  vertical-align: center;
}

.totalPrice {
  text-align: left;
}

.daysPrice {
  text-align: center;
}

.dropdownFilter > .dropdown-menu {
  height: 200px;
  overflow-y: scroll;
}

.daysToRent {
  text-align: center;
}
