body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #000000;
}

.createListingForm {
  display: block;
  font-size:15px;
  /* padding:4px 2px; */
  width:70px;
  /* margin:2px 0 20px 10px;  */
  /*not sure what all these do for now, but it shows the form as list*/
}

.city {
  position : absolute;
  bottom: 0;
  vertical-align: center;
}

.totalPrice {
  text-align: right;
}